# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/

# Env files
.env

# Database
*.db
*.sqlite3

# Alembic
alembic/versions/__pycache__/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log